@import "font/stylesheet.css";
$brand: #00bfd6;
.footer {
    padding-top: 40px;
    background-color: #15243a;
    .info {
        padding-bottom: 30px;
        .title {
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.22;
            letter-spacing: 0.54px;
            text-align: left;
            color: #ffffff;
            margin-bottom: 35px;
        }
        .subtitle {
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.5;
            letter-spacing: 0.42px;
            text-align: left;
            color: #ffffff;
        }
    }

    .bottom {
        margin: 37px 0px 35px 0px;
        span {
            margin-right: 30px;
        }
        form {
            input {
                height: 36px;
            }
            .input-group-append {
                width: 30%;
            }
            button {
                height: 36px;
                background-color: $brand;
                font-family: Avenir;
                font-size: 14px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.57;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                border: 0px;
            }
        }
    }
    .copyrights {
        padding-bottom: 37px;
        span {
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.1;
            letter-spacing: 0.3px;
            text-align: left;
            color: #ffffff;
        }
    }
}
